table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: #3498db;
    color: white;
    font-weight: bold;
}
td,
th {
    padding: 10px;
    :before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}
